body
  margin: 0
  paddding: 0
  background: silver
  color: white

header
  text-align: center
  padding: 7px
  background: -webkit-gradient(linear,left bottom,left top,from(pink),to(purple))

#content
  position: relative

  #house
    position: absolute

  #disappearance
    position: absolute
    top: 10px
    left: 10px
  
  #position1_container
    position: absolute
    top: 300px
    left: 50px
  #position2_container
    position: absolute
    top: 150px
    left: 210px
  #position3_container
    position: absolute
    top: 40px
    left: 650px